* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* altezze e box*/

body{
    height: 100vh;
    background-color: blue;
}

nav{
    height: calc(100vh - 90px);
    background-color: aqua;
}
.ft{
    height: 90px;
    background-color: beige;
}
.head-sx{
    height: 90px;
    
    background-color:brown ;
}
.sx{width: 100%;

}

  /*flex*/
  .flex{
    display: flex;
  }
  @media screen and (min-width:992px) {
    /*altezze e box*/
    nav{
        height: calc(100vh - 110px);
        background-color: black;
    }
    .ft{
       min-height: 110px;
    }
    .head-sx{
        min-height: 180px;
    }
  }