* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li{
    list-style-type: none;
  }
  img{
    max-width: 100%;
    display: block;

  }
/* altezze e box*/

body{
    height: 100vh;
    width: 100vw;
}

nav{
    height: calc(100vh - 90px);
    width: 55px;
}

.ft{
    height: 90px;
}
.libreria{
  height: calc(100vh - 180px);
  width: width: calc(100vw - 55px);
}
.head-dx{
    height: 90px;
    width: calc(100vw - 55px);
}

.container-nav{
   width: 55px;
   height: calc(100vh - 155px);
}
img{
  height: 30px;

}
.hg50{
  width: 50%;
}



/*backround */

nav{
    background-color: #000000;
}
.head-dx{
    background-color: #10131a ;
}
.libreria{
    background-color: #151922;
}
.ft{
    background-color: #282828;
}

/* colori testo*/

.tx-grey{
    color: #151922;
}
.tx-white{
    color: #ffffff;
}

/*PADDING*/
.padding10{
  padding: 10px;
}


/* margine*/
.logo-piccolo{
  margin-bottom: 15px;
}

  /*flex*/
  .flex{
    display: flex;
  }
  .space-beet{
    justify-content: space-between;
  }
  .colonnum{
    flex-direction: column;
  }

/*screen*/
 .logo-grande{
  display: none;
 }


  @media screen and (min-width:992px) {
    /*altezze e box*/
    nav{
        height: calc(100vh - 110px);
      width: 455px;
    }
    .libreria{
      height: calc(100vh - 290px);
      width: calc(100vw - 455px);
    }

    .ft{
       height: 110px;
    }

    .head-dx{
        height: 180px;
        width: calc(100vw - 455px);
    }
    .logo-grande{
      height: 110px;
    }

    /*display*/
    .logo-grande{
      display: block;
    }
    .logo-piccolo{
      display: none;
    }

  }
