* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li{
    list-style-type: none;
  }
/* altezze e box*/

body{
    height: 100vh;
}

nav{
    height: calc(100vh - 90px);
    min-width: 55px;
}

.ft{
    height: 90px;
}

.head-dx{
    height: 90px;
}

.dx{
    width: 100%;
}
.container-nav{
   width: 100%;
}


/*backround */

nav{
    background-color: #000000;
}
.dx{
    background-color: #10131a ;
}
.head-dx{
    background-color: #151922;
}
.ft{
    background-color: #282828;
}

/* colori testo*/

.tx-grey{
    color: #151922;
}
.tx-white{
    color: #ffffff;
}



  /*flex*/
  .flex{
    display: flex;
  }
  .space-beet{
    justify-content: space-between;
  }
  .colonnum{
    flex-direction: column;
  }


  @media screen and (min-width:992px) {
    /*altezze e box*/
    nav{
        height: calc(100vh - 110px);
        background-color: black;
    }

    .ft{
       min-height: 110px;
    }

    .head-dx{
        min-height: 180px;
    }

  }